html, body {
    height: 100%;
    margin: 0;
  }
body{
    background-color: #44bd32;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
    font-family: 'Indie Flower', cursive;
font-family: 'Work Sans', sans-serif;
}
#container {
    padding: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 1rem 0 0 0;
    flex-wrap: wrap;
    background-color: #4cd137;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    width: max(650px,1450px);
}

h3{
    font-size: clamp(12px,3vw,20px);
}

h2{
    font-size: clamp(18px,6vw,28px);
}

.intro-heading{
    text-align: center;
    color: #000000;
}

#symbol-container{
    margin: 0 0 1rem 0;
}

#image-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem 0 0 0;
    row-gap: 2rem;
    column-gap: 2rem;
    justify-content: center;
    justify-content: center;
}

input[type="file"]{
    display: none;
}
#custom-file-upload {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* border: 2px solid #000000; */
    margin: 1rem 0 0 0;
    padding: 10px 15px;
    background-color: #00cec9;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: clamp(12px,3vw,20px);
  }
  
#custom-file-upload:hover {
    background-color: #00b3a6; /* Slightly darker on hover */
}


@media only screen and (max-width: 768px) {
    #image-container * {
        height: 300px;
        width: 300px;
    }
  }
  