#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 1rem 0 0 0;
    flex-wrap: wrap;
}

.intro-heading{
    width: 50%;
    text-align: center;
}

#image-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#image-container > canvas {
    width: 50%;
}